ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

.menu_item
{
display: block;
width: 140px;
text-align: justify;
height: 30px;
background-color: #008080;
text-decoration: none;
/*padding: 4px;*/
padding-top: 15px;
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
color: white;
border-bottom: 1px solid white;
font-size: 12px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menu_item:hover
{
background-color: #3EA99F;
}